*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 0, 33);
    color: white;
     
}
.left{
    font-size: 2.5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(23, 23, 43);
    padding-left: 20px;
}
nav ul li{
    text-decoration: none;
    list-style: none;
    margin: 0 23px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(148, 148, 236)
}
.firstsection{
    justify-content: space-around;
    margin: 185px 0;
}
.firstsection >div{
    width: 30%;
}
.leftsection{
    font-size: 3.26rem;
    margin: 149px 0px;
    
}
.rightsection{
    
}
.rightsection img{
    position: absolute;
    width: 39%;
    height: auto;
    /* left: 871px; */
    right: 161px;
}
.secondsection{
    width: 80vw;
    margin: auto;
    margin-bottom: 450px;
}
main hr{
    border: 0;
    height: 1px;
    background-color: #9c97f1;
    margin:40px 84px;
}
.secondsection h1{
    font-size: 1.9rem;
}
.box{
    background: white;
    width: 78%;
    /* border: 1px; */
    height: 2px;
    margin: 56px 152px;  
    /* justify-content: space-between; */
    display: flex;
    gap: 54px;
}
.vertical{
    height: 100px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
footer{
    background-color: rgb(29 22 35);
    height: 233px;
    max-width: auto;
    margin: auto;
    padding: 20px 20px;
    justify-content: space-evenly;
}
.footer-first{
    width: 175px;
    color: #d3c9c9;;
}
footer div ul li{
    list-style: none;
    padding: 6px;
}
footer div ul li a{
    text-decoration: none;
    color: gray;
}